*{
    box-sizing: border-box;
    /* //font: inherit;
    //color: inherit; */
}
html{
    font-size: 16px;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #222;  
    height: 100vh;
    width:100vw;
}
.container{
    display: grid;
    background-image: url(/img/23760.jpg);
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width:100vw;
    padding: 2rem;
}
.nav{
    grid-column: 1/3;
    grid-row: 1/2;
}
#ch1{
    grid-column: 1/2;
    grid-row: 2/3;
}
#ch2{
    grid-column: 2/3;
    grid-row: 2/3;
}
h4{
    margin: 0;
    padding: 0.2rem;
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-family: 'Hanalei Fill', cursive;
    font-size: 2.5rem;
    margin: 0;
}
.hp{
    height: 20px;
    width: 260px;
    background-color: #AB0601;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.value span{
    color: #AB0601 ;
    font-size: 1.3rem;
    padding: 0.2rem 1rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;


}
.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BB1B2A;
    border-radius: 10rem;
    z-index: -2;
}
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #630301;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}
/* optional reset for presentation */
* {
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
}
.botton {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
/* .characterImg{
    background-color: blue;
} */