<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battle</title>
</head>
<!-- CSS style links -->
<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link href="https://fonts.font.im/css?family=Hanalei+Fill" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{% load static %}
<link rel="stylesheet" href="{% static 'css/battle.css' %}">

<body>
    <div class="container" style="background-image: url({% static 'img/23760.jpg' %})">

        <div class="character" id="ch1">
            <h3 id="ch1name">{{ name }}: {{token}}</h3>
            <div class="hp" id="ch1hpgreen"></div>
            <div class="characterImg">
                <img src="{{ image }}" alt="" id="ch1img" height="260px">
            </div>
            <div class="value" id="ch1value">
                <h4>Attack <span id="ch1Attack">100</span></h4>
                <h4>Defense <span id="ch1defense">80</span></h4>
                <h4>HP <span id="ch1hp">870</span></h4>
            </div>
        </div>

        <div class="character" id="ch2">
            <h3 id="ch2name">name goes here</h3>
            <div class="hp" id="ch2hpgreen"></div>
            <img src="" alt="" id="ch2img" height="300px">
            <div class="value" id="ch2value">
                <h4>Attack <span id="ch2Attack">100</span></h4>
                <h4>Defense <span id="ch2defense">80</span></h4>
                <h4>HP <span id="ch2hp">870</span></h4>
            </div>

        </div>

    </div>


</body>

</html>