html{
    background-color: #F8F2E8;
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BB1B2A;
    border-radius: 10rem;
    z-index: -2;
}
.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #630301;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}
/* optional reset for presentation */
* {
    font-family: Arial;
    text-decoration: none;
    font-size: 25px;
}
.botton {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.characterContainer{
   
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 1rem;
    
}
.characterContainer div {
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    padding-bottom: 50px;
    height: 150px;
    width: 150px;
}

.characterContainer div img {
    width: 100%;

    height: 100%;
}

.characterContainer div p {
    font-size: 14px;
}